<div>
    <div class="toolbar">
        <mat-toolbar>
            <span class="tittle" routerLink="/login">LOGIN</span>
        </mat-toolbar>
    </div>&nbsp;
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <p><span style="color: red;">Welcome</span></p>
                        <p>Please enter your Email and password below to login.</p>
                        <form [formGroup]="loginForm">
                            <div class="row">
                                <div class="col">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" placeholder="Email"
                                        formControlName="email">
                                    <div *ngIf="loginForm.get('email')?.touched">
                                        <small style="color: brown;"
                                            *ngIf="loginForm.get('email')?.errors?.['required']">Email is
                                            required</small>
                                        <small style="color: brown;"
                                            *ngIf="loginForm.get('email')?.errors?.['email']">Please enter valid
                                            email</small>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" class="form-control" placeholder="password"
                                        formControlName="password">
                                    <div *ngIf="loginForm.get('password')?.touched">
                                        <small style="color: brown;"
                                            *ngIf="loginForm.get('password')?.errors?.['required']">Password is
                                            required</small>
                                    </div>
                                </div>
                            </div>&nbsp;
                            <div class="col-auto">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                                    <label class="form-check-label" for="autoSizingCheck">
                                        Remember me
                                    </label>
                                </div>
                            </div>

                        </form>
                        <p>Forgotten your <span class="password">Password</span>?</p>
                        <p>If you forget your registered Email, contact us at 0818818181</p>
                        <p>To resend validation Email <span style="color: red;">Click here</span>.</p>
                        <p><strong>Don't have an Account? Register below.</strong></p>
                        <p>when you register for Horizontal portal you'll have access to update your personnel
                            information.
                            view your mortage account,transction history,make payment and complet forms.
                        </p>
                        <div class="loginBtn">
                            <button type="submit" class="btn" (click)="onSubmit(loginForm.value)">Login</button>&nbsp;
                            <button type="button" class="btn">Register</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img src="/assets/images.jpg" alt="city" width="500" height="500">
                    </div>
                </div>
            </div>
        </div>
    </div>&nbsp;
</div>